## 0. 개발 환경 구성

1. Python 가상 환경 생성  
   - 이름 : `sprint_part4`
   - `python -m venv sprint_part4`

2. VSCode에 가상 환경의 Python 등록 -> `Python: Select Interpreter`

3. 가상 환경 활성화
   - 윈도우 git bash → `source sprint_part4/Scripts/activate`
   - 윈도우 CMD → `call sprint_part4/Scripts/activate`
   - 맥 터미널 → `source sprint_part4/bin/activate`

4. 가상 환경에 `requirements.txt` 파일 내 라이브러리들 설치
   - `pip install -r requirements.txt`

5. `docker-compose.yaml` 파일을 통해 MYSQL, POSTGRESQL 컨테이너 생성
   - `docker compose up -d`

## 1. Python을 통한 DB Connection

In [1]:
import psycopg2, pandas as pd, sqlalchemy, pymysql, dotenv, loguru, matplotlib, streamlit

In [ ]:
## pymysql <--> mysql DB
## psycopg2 <--> postgresql DB
## oracle_db <--> oracle DB
## pymssql <--> mssql DB
## sqlalchemy <--> 다양한 RDBMS를 공통적인 코드로 connection 연결이 가능

### 1-1 MySQL 라이브러리(pymysql)를 활용한 Connection

In [16]:
import pymysql

user = 'codeit'
password = 'sprint'
host = 'localhost'
port = 3300
database = 'docker_mysql'

mysql = pymysql.connect(
    user=user,
    password=password,
    host=host,
    port=port,
    database=database,
    charset='utf8'
    )

mysql

#### cursor 란?
- 쿼리문에 의해서 반환되는 결과값들을 저장하는 메모리공간

In [41]:
cursor = mysql.cursor()

In [38]:
cursor.execute("SHOW TABLES FROM mysql")

38

In [39]:
cursor.fetchall()

(('columns_priv',),
 ('component',),
 ('db',),
 ('default_roles',),
 ('engine_cost',),
 ('func',),
 ('general_log',),
 ('global_grants',),
 ('gtid_executed',),
 ('help_category',),
 ('help_keyword',),
 ('help_relation',),
 ('help_topic',),
 ('innodb_index_stats',),
 ('innodb_table_stats',),
 ('ndb_binlog_index',),
 ('password_history',),
 ('plugin',),
 ('procs_priv',),
 ('proxies_priv',),
 ('replication_asynchronous_connection_failover',),
 ('replication_asynchronous_connection_failover_managed',),
 ('replication_group_configuration_version',),
 ('replication_group_member_actions',),
 ('role_edges',),
 ('server_cost',),
 ('servers',),
 ('slave_master_info',),
 ('slave_relay_log_info',),
 ('slave_worker_info',),
 ('slow_log',),
 ('tables_priv',),
 ('time_zone',),
 ('time_zone_leap_second',),
 ('time_zone_name',),
 ('time_zone_transition',),
 ('time_zone_transition_type',),
 ('user',))

In [ ]:
cursor.fetchone()

# cursor.fetchmany(3)

#### DDL & DML 쿼리 생성

In [ ]:
## 테이블 생성 쿼리 

create_query = """
    CREATE TABLE IF NOT EXISTS lecture (
        id INT AUTO_INCREMENT PRIMARY KEY, 
        name VARCHAR(20),
        year INT,
        gender VARCHAR(10),
        count INT
        );
"""

cursor.execute(create_query)
mysql.commit()

0

In [46]:
cursor.execute("SHOW TABLES FROM docker_mysql")
cursor.fetchall()

(('lecture',),)

In [45]:
## INSERT
insert_query = """
    INSERT INTO lecture
    VALUES (1, 'codeit', 2025, 'M', 100);
"""

cursor.execute(insert_query)

1

In [47]:
## Commit -> 수정 내용 확정!
mysql.commit()

In [48]:
## UPDATE
update_query = """
    UPDATE lecture SET count = 200 WHERE id = 1
"""

cursor.execute(update_query)
mysql.commit()

In [49]:
## DELETE
delete_query = """
    DELETE FROM lecture WHERE id = 1
"""

cursor.execute(delete_query)
mysql.commit()

### 1-2 Postgresql 라이브러리(psycopg2)를 활용한 Connection

In [ ]:
!pip install psycopg2

In [17]:
import psycopg2

user = 'codeit'
password = 'sprint'
host = 'localhost'
port = 5430
dbname = 'docker_postgres'

postgres = psycopg2.connect(
    user=user,
    password=password,
    host=host,
    port=port,
    dbname=dbname,
    )

# postgres cursor 생성
cursor = postgres.cursor()

#### DDL & DML 쿼리 생성

In [3]:
## CREATE
create_query = """
    CREATE TABLE lecture (
        id SERIAL PRIMARY KEY, 
        name VARCHAR(20), 
        year INT, 
        gender VARCHAR(10), 
        count INT
        )
    """
    
cursor.execute(create_query)
postgres.commit()

In [4]:
## INSERT
insert_query = """
    INSERT INTO lecture
    VALUES (1, 'codeit', 2025, 'M', 100);
"""

cursor.execute(insert_query)
postgres.commit()

In [5]:
## UPDATE
update_query = """
    UPDATE lecture SET count = 200 WHERE id = 1
"""

cursor.execute(update_query)
postgres.commit()

In [6]:
## DELETE
delete_query = """
    DELETE FROM lecture WHERE id = 1
"""

cursor.execute(delete_query)
postgres.commit()

#### Connection Pool

<img src="https://velog.velcdn.com/images/newnew_daddy/post/f0569aa7-1aad-466e-a24f-5e3b5f248a72/image.png" width="30%">

- 일정량의 Connection 객체를 미리 만들어서 pool에 저장
- 클라이언트 요청이 오면 Connection 객체를 빌려주고 해당 객체의 임무가 완료되면 다시 Connection 객체를 반납 받아 pool에 저장
- 큰 커넥션 풀은 메모리 소모가 큰 대신 대기 시간이 적어지고, 작은 커넥션 풀은 메모리 소모가 작은 대신 대기 시간이 길어진다. ([적정 Connection 수 공식](https://github.com/brettwooldridge/HikariCP/wiki/About-Pool-Sizing#the-formula))
- 자원을 사용하면 반드시 반납을 해줘야하는데 이를 위해 DB 연결시 파이썬 `with문`을 사용

In [ ]:
# Cursor 객체 반납
cursor.close()

# DB 객체 반납!
postgres.close()

In [ ]:
mysql 
cursor = mysql.cursor()

cursor.execute('SHOW DATABASES')
cursor.fetchall()
cursor.close()
# mysql.close()

In [ ]:
mysql 
cursor = mysql.cursor()


with mysql:
    with cursor:
        cursor.execute('SHOW DATABASES')
        print(cursor.fetchall())
        # cursor 자원 반납 프로세스 진행!
        
    # 데이터베이스 연결 객체 반납

(('docker_mysql',), ('information_schema',), ('performance_schema',))

In [ ]:
with mysql as conn:
    with cursor as cur:
        cur.execute('SHOW DATABASES')
        print(cur.fetchall())
        # cursor 자원 반납 프로세스 진행!
        
    # 데이터베이스 연결 객체 반납

### 1-3. sqlalchemy 라이브러리를 활용한 Connection

In [18]:
from sqlalchemy import create_engine, text

## MYSQL connection
engine_name = "mysql+pymysql" # postgresql, bigquery, mariadb, oracle .....
user = 'codeit'
password = 'sprint'
host = 'localhost'
port = 3300
database = 'docker_mysql'

# connection 객체 생성
mysql_conn = create_engine(f"{engine_name}://{user}:{password}@{host}:{port}/{database}")

mysql_conn

Engine(mysql+pymysql://codeit:***@localhost:3300/docker_mysql)

In [22]:
cursor = mysql_conn.connect()

In [23]:
res = cursor.execute(text("SHOW DATABASES"))

res.fetchall()

[('docker_mysql',), ('information_schema',), ('performance_schema',)]

In [24]:
## POSTGRESQL connection
engine_name = "postgresql"
user = 'codeit'
password = 'sprint'
host = 'localhost'
port = 5430
database = 'docker_postgres'

# connection 객체 생성
pg_conn = create_engine(f"{engine_name}://{user}:{password}@{host}:{port}/{database}")

pg_conn

Engine(postgresql://codeit:***@localhost:5430/docker_postgres)

### 1-4. with문 활용

#### Bad Case

<img src="https://velog.velcdn.com/images/newnew_daddy/post/df312bda-0b22-4476-8a03-505f1d3cf5b4/image.png" width="50%">

#### Good Case

<img src="https://velog.velcdn.com/images/newnew_daddy/post/707d46b0-8a0b-4862-ad95-285dc04ddc29/image.png" width="50%">

- Python에서 파일 또는 리소스 관리를 더 효과적으로 처리하기 위한 블록 구조
- 리소스를 열고 사용한 후 자동으로 닫아주기 때문에 닫아주는 코드를 작성할 필요가 없습니다. 
- 주로 파일 입출력, 데이터베이스 연결, 네트워크 연결 등 리소스 관리에 사용됩니다.

In [ ]:
"""
<pymysql, psycopg2 → 연결 객체 생성 → cursor 생성 → 작업>
- cursor, 연결 객체에 대한 close가 반드시 필요!

<sqlalchemy>
- cursor에 따로 close 라는 메소드가 존재하지 않습니다.
- 자원 반납이 메소드 내에 포함이 되어 있어서 따로 명시적으로 진행해주지 않아도 무방!
"""

### 1-5. pandas을 활용한 조회 및 저장
- sqlalchemy connection만 활용 가능!

#### 1) MySQL 연결 객체 생성

In [ ]:
from sqlalchemy import create_engine

## MYSQL connection
engine_name = "mysql+pymysql"
user = 'codeit'
password = 'sprint'
host = 'localhost'
port = 3300
database = 'docker_mysql'

# connection 객체 생성
mysql_conn = create_engine(f"{engine_name}://{user}:{password}@{host}:{port}/{database}")

mysql_conn

Engine(mysql+pymysql://codeit:***@localhost:3300/docker_mysql)

#### 2) 테이블 저장
- [to_sql()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_sql.html) 메소드
- dataframe.to_sql( 테이블 이름, sqlalchemy_connector, 옵션 )

In [26]:
import pandas as pd

df = pd.read_csv('dataset/pokemon.csv')

df.head()

,id,kor_name,eng_name,type1,type2,total,hp,attack,defense,special_attack,special_defense,speed,generation,is_legendary
0,1,이상해씨,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,이상해풀,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,이상해꽃,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,4,파이리,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
4,5,리자드,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False

In [ ]:
df.to_sql(
    name='pokemon',
    con=mysql_conn,
    if_exists='replace',
    index=False
    )

251

#### 3) 테이블 데이터 조회
- [read_sql()](https://pandas.pydata.org/docs/reference/api/pandas.read_sql.html) 메소드 → SQL 쿼리 기반 데이터 조회

In [ ]:
pokemon = pd.read_sql(
    sql='SELECT type1, COUNT(*) AS cnt FROM pokemon GROUP BY type1 ORDER BY cnt DESC',
    con=mysql_conn
)

pokemon

- [read_sql_table()](https://pandas.pydata.org/docs/reference/api/pandas.read_sql_table.html) 메소드 → 저장된 테이블 데이터 읽어오기

In [ ]:
pd.read_sql_table(
    table_name='pokemon',
    con=mysql_conn
)

#### 4) 타입을 지정하여 테이블 저장

In [37]:
from sqlalchemy import (
    Column,
    INTEGER,
    VARCHAR,
    String,
    Text,
    Float,
    Numeric,
    Boolean,
    Date,
    DateTime,
    Time,
    Interval,
    LargeBinary,
    JSON,
    ARRAY,
    Enum,
    SmallInteger,
    BigInteger,
    Unicode,
    UnicodeText,
    PickleType,
    BLOB,
    CLOB
)

In [38]:
names = pd.read_csv('dataset/names.csv')

names.to_sql(
    name='name',
    con=mysql_conn,
    if_exists='replace',
    index=False,
    dtype={
        'id':INTEGER,
        'name':VARCHAR(20),
        'year':INTEGER,
        'gender':VARCHAR(10),
        'count':INTEGER
        }
    )

2000

#### 5) PostgreSQL 데이터베이스 연결

1) SQLalchemy postgresql 연결 생성
2) to_sql() 메소드로 PG 데이터베이스에 'names' 테이블 저장
3) read_sql() 메소드로 'names' 테이블을 dataframe 형식으로 불러오기!

In [39]:
## POSTGRESQL connection
engine_name = "postgresql"
user = 'codeit'
password = 'sprint'
host = 'localhost'
port = 5430
database = 'docker_postgres'

# connection 객체 생성
pg_conn = create_engine(f"{engine_name}://{user}:{password}@{host}:{port}/{database}")

pg_conn

Engine(postgresql://codeit:***@localhost:5430/docker_postgres)

In [40]:
names.to_sql(
    name='names',
    con=pg_conn,
    if_exists='replace',
    index=False
)

1000

In [42]:
pd.read_sql_table(
    table_name='names',
    con=pg_conn
    )

        id       name  year gender  count
0        1       Mary  1880      F   7065
1        2       Anna  1880      F   2604
2        3       Emma  1880      F   2003
3        4  Elizabeth  1880      F   1939
4        5     Minnie  1880      F   1746
...    ...        ...   ...    ...    ...
1995  1996     Woodie  1880      M      5
1996  1997     Worthy  1880      M      5
1997  1998     Wright  1880      M      5
1998  1999       York  1880      M      5
1999  2000  Zachariah  1880      M      5

[2000 rows x 5 columns]

#### 6) 테이블 조회/저장 실습

In [ ]:
"""
tips.csv 파일의 데이터를 활용하여 아래 과정을 진행해주세요.

1. 1 ~ 100 행
- MYSQL에 저장 (to_sql 활용)
	- 테이블 이름 : 'tips'
	- if_exist 조건 : replace
	
2. 101 ~ 244 행
- POSTGRESQL에 저장 (to_sql 활용)
	- 테이블 이름 : 'tips'
	- if_exist 조건 : replace
	
3. MYSQL tips 테이블 + POSTGRESQL tips 테이블을 각각 dataframe으로 불러와서 concat 해주세요.
"""

In [43]:
## 1) 데이터 읽기
tips = pd.read_csv('./dataset/tips.csv')

tips.head()

   id  total_bill   tip smoker  day    time  size
0   1       16.99  1.01     No  Sun  Dinner     2
1   2       10.34  1.66     No  Sun  Dinner     3
2   3       21.01  3.50     No  Sun  Dinner     3
3   4       23.68  3.31     No  Sun  Dinner     2
4   5       24.59  3.61     No  Sun  Dinner     4

In [44]:
## 2) 데이터 쪼개기

mysql_df = tips.iloc[:100]
postgres_df = tips.iloc[100:]

mysql_df.shape, postgres_df.shape

((100, 7), (144, 7))

In [45]:
## 3) connection 객체 생성

mysql_conn, pg_conn

(Engine(mysql+pymysql://codeit:***@localhost:3300/docker_mysql),
 Engine(postgresql://codeit:***@localhost:5430/docker_postgres))

In [46]:
## 4) 데이터 저장

mysql_df.to_sql(
    name='tips',
    con=mysql_conn,
    if_exists='replace',
    index=False
)

postgres_df.to_sql(
    name='tips',
    con=pg_conn,
    if_exists='replace',
    index=False
)

144

In [48]:
## 5) 데이터 불러오기

df_1 = pd.read_sql(
    sql="SELECT * FROM tips",
    con=mysql_conn
)

df_2 = pd.read_sql_table(
    table_name='tips',
    con=pg_conn
)

In [49]:
## 6) 데이터 합치기

pd.concat([df_1, df_2], axis=0)

      id  total_bill   tip smoker   day    time  size
0      1       16.99  1.01     No   Sun  Dinner     2
1      2       10.34  1.66     No   Sun  Dinner     3
2      3       21.01  3.50     No   Sun  Dinner     3
3      4       23.68  3.31     No   Sun  Dinner     2
4      5       24.59  3.61     No   Sun  Dinner     4
..   ...         ...   ...    ...   ...     ...   ...
139  240       29.03  5.92     No   Sat  Dinner     3
140  241       27.18  2.00    Yes   Sat  Dinner     2
141  242       22.67  2.00    Yes   Sat  Dinner     2
142  243       17.82  1.75     No   Sat  Dinner     2
143  244       18.78  3.00     No  Thur  Dinner     2

[244 rows x 7 columns]

#### 7) parquet 파일 조회 및 저장

In [51]:
## parquet 포맷으로 저장

tips.to_parquet(
    path='dataset/tips.parquet',
    engine='pyarrow',
    compression='gzip',
    index=False
)

In [ ]:
## parquet 파일 읽기

pd.read_parquet(
    path='dataset/tips.parquet'
)

In [54]:
## day 컬럼으로 파티셔닝하여 저장!

tips.to_parquet(
    path='dataset/tips_partition/',
    engine='pyarrow',
    compression='gzip',
    index=False,
    partition_cols=['day']
)

In [57]:
pd.read_parquet("dataset/tips_partition/")

      id  total_bill   tip smoker    time  size   day
0     91       28.97  3.00    Yes  Dinner     2   Fri
1     92       22.49  3.50     No  Dinner     2   Fri
2     93        5.75  1.00    Yes  Dinner     2   Fri
3     94       16.32  4.30    Yes  Dinner     2   Fri
4     95       22.75  3.25     No  Dinner     2   Fri
..   ...         ...   ...    ...     ...   ...   ...
239  203       13.00  2.00    Yes   Lunch     2  Thur
240  204       16.40  2.50    Yes   Lunch     2  Thur
241  205       20.53  4.00    Yes   Lunch     4  Thur
242  206       16.47  3.23    Yes   Lunch     3  Thur
243  244       18.78  3.00     No  Dinner     2  Thur

[244 rows x 7 columns]

## 3. dotenv 라이브러리를 활용한 민감 정보 관리

- 환경 변수에 대한 관리를 효과적이고 안전하게 할 수 있도록 도와주는 python 라이브러리
- DB정보, 비밀번호, API KEY 등 외부에 공유되거나 Git에 올라가면 안되는 값들을 하드코딩 하지 않고 사용이 가능.

    ```
    pip install python-dotenv
    ```

    > https://velog.io/@newnew_daddy/python-dotenv

#### 1) 기본 기능 사용

In [19]:
import dotenv

In [20]:
# .env 파일 경로 찾기

env_path = dotenv.find_dotenv()

In [30]:
# .env 파일 불러오기  (내용이 있으면 -> True, 없으면 -> False)

dotenv.load_dotenv(
    dotenv_path=env_path,
    override=True
)

True

In [31]:
# .env 파일에 등록된 정보 출력

dotenv.dotenv_values(
    dotenv_path=env_path
)

OrderedDict([('MYSQL_ENGINE_NAME', 'mysql+pymysql'),
             ('MYSQL_USER', 'codeit'),
             ('MYSQL_PASSWORD', 'sprint'),
             ('MYSQL_HOST', 'localhost'),
             ('MYSQL_PORT', '3300'),
             ('MYSQL_DATABASE', 'docker_mysql'),
             ('POSTGRES_ENGINE_NAME', 'postgresql'),
             ('POSTGRES_USER', 'codeit'),
             ('POSTGRES_PASSWORD', 'sprint'),
             ('POSTGRES_HOST', 'localhost'),
             ('POSTGRES_PORT', '5430'),
             ('POSTGRES_DATABASE', 'docker_postgres')])

#### 2) .env 파일 작성

In [ ]:
ENGINE_NAME=""
USER=''
PASSWORD=''
HOST=''
PORT=''
DATABASE=''

#### 3) 값들 Load해오기

In [23]:
import os

os.getenv('MYSQL_ENGINE_NAME', '키가 없을 때 출력될 VALUE')

'mysql+pymysql'

#### 4) DB Connection Test

In [24]:
## MYSQL connection
engine_name = os.getenv('MYSQL_ENGINE_NAME', "")
user = os.getenv('MYSQL_USER', "")
password = os.getenv('MYSQL_PASSWORD', "")
host = os.getenv('MYSQL_HOST', "")
port = os.getenv('MYSQL_PORT', "")
database = os.getenv('MYSQL_DATABASE', "")

# connection 객체 생성
mysql_conn = create_engine(f"{engine_name}://{user}:{password}@{host}:{port}/{database}")

mysql_conn

Engine(mysql+pymysql://codeit:***@locahost:3300/docker_mysql)

## 4. Python Class를 사용한 DB 접속 관리

#### 1) self에 대한 이해
- Class 내에서 생성된 객체나 정보들을 저장할 수 있는 dictionary 자료형!
- 'self'를 매개로 Class 내에서 정보/데이터를 공유할 수 있다.

In [26]:
# 외부 변수 : name, age
# self -> CLASS 내에서 활용되는 DICTIONARY 자료형!

class TempClass:
    def __init__(self, name, age):
        self.name = name
        self.age = age
        self.count=0
    
    # self = {'name': 'Paul', 'age': 30, 'count':0}
        
        
    def print_msg(self):
        print(self.name)
        print(self.age)
        self.func1 = "hello"
        
tc1 = TempClass('Paul', 30)
"""
self = {
    "name" = "Paul",
    "age" = 30
    }
"""

tc1.__dict__ # -> Class 내부에서 사용되는 self 내용 출력!

# tc1.print_msg()

{'name': 'Paul', 'age': 30, 'count': 0}

#### 2) Class 작성

In [46]:
# 1) 초안 작성

class DBconnector:
    def __init__(self, engine_name, user, password, host, port, database):
        self.engine_name = engine_name
        self.user = user
        self.password = password
        self.host = host
        self.port = port
        self.database = database
    
    # pymysql connection 메소드
    def pymysql_connection(self):
        self.pymysql_conn = pymysql.connect(
            user=self.user,
            password=self.password,
            host=self.host,
            port=int(self.port),
            database=self.database,
            charset='utf8'
        )
        
    # psycopg2 connection 메소드
    def psycopg_connection(self):
        self.psycopg_conn = psycopg2.connect(
            user=self.user,
            password=self.password,
            host=self.host,
            port=self.port,
            dbname=self.database,
            )
        
    # sqlalchemy connection 메소드
    def sqlalchemy_connection(self):
        self.sql_conn = create_engine(f"{self.engine_name}://{self.user}:{self.password}@{self.host}:{self.port}/{self.database}")

In [32]:
# 2) 외부 변수 가져오기

engine_name = os.getenv('MYSQL_ENGINE_NAME', "")
user = os.getenv('MYSQL_USER', "")
password = os.getenv('MYSQL_PASSWORD', "")
host = os.getenv('MYSQL_HOST', "")
port = os.getenv('MYSQL_PORT', "")
database = os.getenv('MYSQL_DATABASE', "")

database

'docker_mysql'

In [47]:
# 3) Class 객체 생성

conn_obj = DBconnector(
    engine_name=engine_name,
    user=user,
    password=password,
    host=host,
    port=port,
    database=database
)

conn_obj.__dict__

{'engine_name': 'mysql+pymysql',
 'user': 'codeit',
 'password': 'sprint',
 'host': 'localhost',
 'port': '3300',
 'database': 'docker_mysql'}

In [41]:
# 4) 메소드 호출

conn_obj.pymysql_connection()

with conn_obj.pymysql_conn as mysql_conn:
    cursor = mysql_conn.cursor()
    with cursor:
        cursor.execute("SHOW TABLES")
        print(cursor.fetchall())

(('lecture',), ('name',), ('pokemon',), ('tips',))

In [ ]:
""" (~ 17:30)
메소드 이름 : pymysql_connection()
self.pymysql_conn 에 정보 저장

메소드 이름 : psycopg2_connection()
self.psycopg_conn 에 정보 저장

---
메소드 이름 : sqlalchemy_connection()
self.sql_conn에 정보 저장!

이 두 메소드에 대해 호출시 connection 정보를 밖에서 받을 수 있도록 세팅 & 테스트!
"""

In [51]:
conn_obj.sqlalchemy_connection()

mysql_conn = conn_obj.sql_conn

pd.read_sql_table(
    table_name='pokemon',
    con=mysql_conn
)

,id,kor_name,eng_name,type1,type2,total,hp,attack,defense,special_attack,special_defense,speed,generation,is_legendary
0,1,이상해씨,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,0
1,2,이상해풀,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,0
2,3,이상해꽃,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,0
3,4,파이리,Charmander,Fire,None,309,39,52,43,60,50,65,1,0
4,5,리자드,Charmeleon,Fire,None,405,58,64,58,80,65,80,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246,247,데기라스,Pupitar,Rock,Ground,410,70,84,70,65,70,51,2,0
247,248,마기라스,Tyranitar,Rock,Dark,600,100,134,110,95,100,61,2,0
248,249,루기아,Lugia,Psychic,Flying,680,106,90,130,90,154,110,2,1
249,250,칠색조,Ho-oh,Fire,Flying,680,106,130,90,110,154,90,2,1
250,251,세레비,Celebi,Psychic,Grass,600,100,100,100,100,100,100,2,0

In [ ]:
"""
CLASS 내부 메소드의 결과를 밖에서 받아올 수 있는 방법(self에 저장된 데이터를 외부에서 추출!)

1. Class 내부 메소드의 결과물을 return

2. Class 내부 메소드의 결과물을 self에 저장
"""

#### 3) Asterisk(*)에 대한 이해

In [ ]:
# 1) * -> spread method

a = 1
b = 2
c = 3
d = 4
e = 5

abc = [1,2,3,4,5]

# 특정 함수가 많은 수의 파라미터를 필요로 할 때
# 파라미터 변수를 하나하나 선언해서 던지기 귀찮!
# 넣어져야 할 변수들을 list, tuple 같은 형태로 묶어서 넣는 경우!
def arg_temp(var1, var2, var3, var4, var5):
    print(var1)
    print(var2)
    
arg_temp(*abc)

# [1,2,3,4,5]  ---- * -----> 1,2,3,4,5
# *[1,2,3,4,5] ---------> 1,2,3,4,5
# *abc -----------------> 1,2,3,4,5
# abc ------------------> [1,2,3,4,5]

1
2

In [ ]:
# 해당 함수에 들어오는 파라미터의 정확한 개수가 정해져있지 않을 때

def arg_temp(*var1): # arg_temp(5,6,7,8,9)
    
    print(var1)      # (5,6,7,8,9)
    
arg_temp(5,6,7,8,9,10,11,12)

(5, 6, 7, 8, 9, 10, 11, 12)

In [ ]:
# 2) ** -> dict 형태 선언시 사용!

ab = dict(
    var1 = 1,
    var2 = 2,
    var3 = 3,
    var4 = 4,
    var5 = 5
)

def kwarg_temp(var1, var2, var3, var4, var5):
    print(var1)
    print(var2)
    print(var3)
    print(var4)
    print(var5)
    
kwarg_temp(**ab)

# {........}  ---- * ----> (1,2,3,4,5) ---- * ----> 1,2,3,4,5
# {........}  ---- ** ----> 1,2,3,4,5
# **{........} -----------------> 1,2,3,4,5
# {........} ------------------> {........}

1
2
3
4
5

In [ ]:
# 해당 함수에 들어오는 파라미터의 정확한 개수가 정해져있지 않을 때
# 파라미터가 Key-Value 쌍으로 선언되어 호출될 때.

def kwarg_temp(**var):
    print(var)
    
kwarg_temp(
    a = 1,
    b = 2,
    c = 3
)

{'a': 1, 'b': 2, 'c': 3}

In [ ]:
def kwarg_temp(*args, **kwargs):
    print(args)
    print(kwargs)

#### 4) connection parameter 합치기

In [ ]:
var = {
    "a" : 1,
    "b" : 2
    }

var = dict(
    a = 1,
    b = 2
)

In [75]:
DB_SETTINGS = dict(
    mysql_params = dict(
        engine_name = os.getenv('MYSQL_ENGINE_NAME', ""),
        user = os.getenv('MYSQL_USER', ""),
        password = os.getenv('MYSQL_PASSWORD', ""),
        host = os.getenv('MYSQL_HOST', ""),
        port = os.getenv('MYSQL_PORT', ""),
        database = os.getenv('MYSQL_DATABASE', "")
    ),
    postgres_params = dict(
        engine_name = os.getenv('POSTGRES_ENGINE_NAME', ""),
        user = os.getenv('POSTGRES_USER', ""),
        password = os.getenv('POSTGRES_PASSWORD', ""),
        host = os.getenv('POSTGRES_HOST', ""),
        port = os.getenv('POSTGRES_PORT', ""),
        database = os.getenv('POSTGRES_DATABASE', "")
    )
)

DB_SETTINGS['postgres_params']

{'engine_name': 'postgresql',
 'user': 'codeit',
 'password': 'sprint',
 'host': 'localhost',
 'port': '5430',
 'database': 'docker_postgres'}

#### 5) DBconnector에 asterisk 적용

In [77]:
# conn_obj = DBconnector(
#     engine_name=engine_name,
#     user=user,
#     password=password,
#     host=host,
#     port=port,
#     database=database
# )

conn_obj = DBconnector(**DB_SETTINGS['mysql_params'])
conn_obj.__dict__

{'engine_name': 'mysql+pymysql',
 'user': 'codeit',
 'password': 'sprint',
 'host': 'localhost',
 'port': '3300',
 'database': 'docker_mysql'}

In [ ]:
conn_obj = DBconnector(**DB_SETTINGS['mysql_params'])
conn_obj.pymysql_connection()

conn_obj = DBconnector(**DB_SETTINGS['postgres_parmas'])
conn_obj.psycopg_connection()

In [ ]:
class DBconnector:
    def __init__(self, engine_name, user, password, host, port, database):
        self.engine_name = engine_name # mysql+pymysql
        self.user = user
        self.password = password
        self.host = host
        self.port = port
        self.database = database
        if 'mysql' in self.engine_name:
            self.pymysql_connection()
            
        elif 'postgres' in self.engine_name:
            self.psycopg_connection()
        
        self.sqlalchemy_connection()
        
        
    
    # pymysql connection 메소드
    def pymysql_connection(self):
        self.pymysql_conn = pymysql.connect(
            user=self.user,
            password=self.password,
            host=self.host,
            port=int(self.port),
            database=self.database,
            charset='utf8'
        )
        
    # psycopg2 connection 메소드
    def psycopg_connection(self):
        self.psycopg_conn = psycopg2.connect(
            user=self.user,
            password=self.password,
            host=self.host,
            port=self.port,
            dbname=self.database,
            )
        
    # sqlalchemy connection 메소드
    def sqlalchemy_connection(self):
        self.sql_conn = create_engine(f"{self.engine_name}://{self.user}:{self.password}@{self.host}:{self.port}/{self.database}")

In [80]:
conn_obj = DBconnector(**DB_SETTINGS['mysql_params'])

conn_obj.__dict__

{'engine_name': 'mysql+pymysql',
 'user': 'codeit',
 'password': 'sprint',
 'host': 'localhost',
 'port': '3300',
 'database': 'docker_mysql',
 'pymysql_conn': <pymysql.connections.Connection at 0x14c152b1340>,
 'sql_conn': Engine(mysql+pymysql://codeit:***@localhost:3300/docker_mysql)}

In [86]:
db_obj = DBconnector(**DB_SETTINGS['postgres_params'])
db_conn = db_obj.sql_conn

pd.read_sql_table(
    table_name='tips',
    con=db_conn
)

      id  total_bill   tip smoker   day    time  size
0    101       11.35  2.50    Yes   Fri  Dinner     2
1    102       15.38  3.00    Yes   Fri  Dinner     2
2    103       44.30  2.50    Yes   Sat  Dinner     3
3    104       22.42  3.48    Yes   Sat  Dinner     2
4    105       20.92  4.08     No   Sat  Dinner     2
..   ...         ...   ...    ...   ...     ...   ...
139  240       29.03  5.92     No   Sat  Dinner     3
140  241       27.18  2.00    Yes   Sat  Dinner     2
141  242       22.67  2.00    Yes   Sat  Dinner     2
142  243       17.82  1.75     No   Sat  Dinner     2
143  244       18.78  3.00     No  Thur  Dinner     2

[144 rows x 7 columns]

#### 6) 실습

In [ ]:
# 실습 내용!
"""
Class에서 sqlalchemy connection 정보를 가져와서 아래 작업을 수행해주세요.

- 데이터를 테이블로 저장 (to_sql)
    - MYSQL -> pokemon.parquet, battle.parquet
    - POSTGRES -> trainer.parquet

- 데이터 불러오기 (read_sql / read_sql_table)
    - MYSQL -> pokemon.parquet
    - POSTGRES -> trainer.parquet
"""

## 5. Loguru를 활용한 작업 로깅

#### 로깅이란?
- 프로그램 실행 중 발생하는 이벤트, 상태, 오류 등을 기록하는 프로세스
- 단순히 `print()`로 콘솔에 출력하여 메세지를 확인할 수 있지만, 로깅 모듈을 활용하면 로그 메시지를 파일에 저장하거나 특정 형식으로 관리할 수 있습니다.
  
#### Loguru란?
- 파이썬의 기본 `logging` 모듈보다 더 간단하고 직관적인 설정으로 로깅을 구현할 수 있도록 해주는 라이브러리.

#### Loguru의 로그 레벨
| 레벨 이름      | 숫자 | 의미                             |
| ---------- | -- | ------------------------------ |
| `TRACE`    | 5  | 가장 낮은 레벨로, 매우 세부적인 디버깅 정보를 기록할 때 사용 |
| `DEBUG`    | 10 | 디버깅 목적으로 상세 정보를 기록할 때 사용 |
| `INFO`     | 20 | 일반적인 정보 메시지를 기록용 |
| `SUCCESS`  | 25 | 작업이 성공적으로 완료되었음을 나타낼 때 사용 |
| `WARNING`  | 30 | 경고 상황. 오류는 아니지만, 잠재적 문제나 주의가 필요한 경우에 사용 |
| `ERROR`    | 40 | 오류가 발생했지만 프로그램이 계속 실행 가능한 경우 |
| `CRITICAL` | 50 | 심각한 오류로, 프로그램이 중단되거나 복구 불가능한 상태일 때 사용 |

#### 로그 레벨 사용 방법
```python
from loguru import logger

logger.trace("This is a trace message")
logger.debug("This is a debug message")
logger.info("This is an info message")
logger.success("This is a success message")
logger.warning("This is a warning message")
logger.error("This is an error message")
logger.critical("This is a critical message")
```

In [ ]:
from loguru import logger

log_format = "{time:YYYY-MM-DD HH:mm:ss} | {level} | {message}"

logger.add(
        "task.log", # 로그 파일 저장 경로
        format=log_format, # 로그 형식
        level="DEBUG", # DEBUG 이상 수준의 로그를 모두 기록
    )

In [ ]:
def pipe():
    logger.info("pipeline message")
    
pipe()

In [ ]:
from loguru import logger

log_format = "{time:YYYY-MM-DD HH:mm:ss} | {level} | {message}"

logger.add(
        "task.log", # 로그 파일 저장 경로
        format=log_format, # 로그 형식
        level="DEBUG", # DEBUG 이상 수준의 로그를 모두 기록
    )

logger.trace("This is a trace message")
logger.debug("This is a debug message")
logger.info("This is an info message")
logger.success("This is a success message")
logger.warning("This is a warning message")
logger.error("This is an error message")
logger.critical("This is a critical message")

2025-07-21 17:21:49.258 | DEBUG    | __main__:<module>:12 - This is a debug message
2025-07-21 17:21:49.260 | INFO     | __main__:<module>:13 - This is an info message
2025-07-21 17:21:49.261 | SUCCESS  | __main__:<module>:14 - This is a success message
2025-07-21 17:21:49.261 | WARNING  | __main__:<module>:15 - This is a warning message
2025-07-21 17:21:49.262 | ERROR    | __main__:<module>:16 - This is an error message
2025-07-21 17:21:49.263 | CRITICAL | __main__:<module>:17 - This is a critical message

## (심화) class 객체에 with문 적용
Bad Case

<img src="https://velog.velcdn.com/images/newnew_daddy/post/df312bda-0b22-4476-8a03-505f1d3cf5b4/image.png" width="50%">

Good Case

<img src="https://velog.velcdn.com/images/newnew_daddy/post/707d46b0-8a0b-4862-ad95-285dc04ddc29/image.png" width="50%">

- Python에서 파일 또는 리소스 관리를 더 효과적으로 처리하기 위한 블록 구조
- 리소스를 열고 사용한 후 자동으로 닫아주기 때문에 닫아주는 코드를 작성할 필요가 없습니다. 
- 주로 파일 입출력, 데이터베이스 연결, 네트워크 연결 등 리소스 관리에 사용됩니다.

    ```
    with문을 사용할 때는 with 키워드 다음에 리소스를 관리하는 객체를 생성하는 표현식을 사용하며, 
    이 객체는 __enter__와 __exit__ 메소드를 구현해야 합니다. 
    with 블록 내에서 리소스를 사용하고 블록을 벗어나면 __exit__ 메소드가 호출되어 리소스를 정리합니다.
    ```

- enter, exit 적용
    > [https://docs.python.org/ko/3/reference/datamodel.html#object.__enter__](https://docs.python.org/ko/3/reference/datamodel.html#object.__enter__)